Source: python-hsn2-thug
Section: python
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3), python-setuptools
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: python-hsn2-thug
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-hsn2-commons, hsn2-commons-debian, mongodb, python-pymongo (>= 3.0.3-1c), python-gridfs (>= 3.0.3-1c), python-pymongo-ext (>= 3.0.3-1c), python-bson-ext (>= 3.0.3-1c)
Provides: ${python:Provides}
Description: HSN2 Thug Service. It utilises the Thug Python low-interaction honeyclient.
